/* images.css */

.background {
    background-size: cover;
    background-position: 30% center; /* The background image needs to be offset to the right due to the 1:1 layout */
    background-attachment: fixed;
}

@media only screen and (min-width: 1280px) {
    .background {
        background-position: center center; /* The background image can be centred */
    }
}

/* Knowing (skyline) - the default image */
/* This will load before the script.js */
#knowing {
    background-image: url("img/knowing_smb.png");
}
.background.knowing {
    background-image: url("img/knowing_smb.png");
}
.header.background.knowing {
    background-image: url("img/knowing_sm.jpg");
}

@media only screen and (min-width: 768px) {
    .header.background.knowing { background-image: url("img/knowing.jpg"); }
}

@media only screen and (min-width: 1280px) {
    .header.background.knowing { background-image: url("img/knowing.jpg"); }
}

.background.armour {
    background-position: center top;
}
