/* style.css */

/* Font import */
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Light.woff2) format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Regular.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Medium.woff2) format("woff2");
    font-weight: 500;
}

/* Style rules */
html {
    height: 100%;
    min-width: 100%;
    scroll-behavior: smooth;
    /* Note this will not work in basically anything that's not Firefox 38+, Chome 61+, and Opera 48+ */
}

/* Mobile-first design ruleset */
/* Having the "normal" ruleset first and using media queries for larger screens means */
/* faster loading times on mobile; especially important when on slower WiFi or mobile */
/* data connections. min-width is used instead of max-width */
body {
    height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    
    color: #fff;
    font-size: 0.9em;
    font-family: "HK Grotesk", sans-serif;
    font-weight: 300;
    
    background-color: #222;
}

div.pageContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

div.header {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: 100%;
    grid-template-areas: "strip content";
}

div.header > div.headerStrip {
    grid-area: strip;
    height: 100%;
    width: 100%;
    padding: 2em 10%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #000;
    background-color: #eee;
}

div.header > div.headerStrip > img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: auto;
    padding: 2em 0;
}

div.header > div.headerStrip > a.button {
    display: block;
    width: 100%;
    margin: .2em 0;
    padding: .4em 0;
    box-sizing: border-box;
    
    border: 2px solid #000;

    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    background-color: rgba(255, 255, 255, 0);
}

div.header > div.headerStrip > a.button.pageButton::after {
    content: "\25b8";
    top: 0;
    left: 0;
    margin-left: 0em;
    
    transition: margin-left .2s;
}
div.header > div.headerStrip > a.button.pageButton:hover::after,
div.header > div.headerStrip > a.button.pageButton:focus::after {
    margin-left: .1em;
}

/* Buttons to change showcase image */
div.header > div.headerStrip > div.headerButtons {
    width: 100%;
    padding-top: 2em;
    margin-top: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, 2.5em);
    grid-auto-rows: 2.5em;
    grid-gap: .1em;
    justify-content: center;
}

div.header > div.headerStrip > div.headerButtons a.button {
    display: block;
    height: 2.5em;
    width: 2.5em;
    box-sizing: border-box;

    /* Backgrounds are defined in #images.css */
    background-size: 250%;
    background-position: center center;

    /* Hide these on load - when the document has loaded, the JS file will unhide them */
    opacity: 0;
}

div.header > div.headerStrip a.button:hover,
div.header > div.headerStrip a.button:focus {
    background-color: rgba(255, 255, 255, .8);
}

div.header > div.headerStrip a.button:active {
    background-color: rgba(255, 255, 255, .5);
}

#headerText {
    font-size: .8em;
    font-weight: 500;
    text-align: center;
}

/* Button to hide and show the sidebar */
#hideshow {
    display: block;
    height: 10em;
    width: 2em;
    margin: auto 0;
    margin-left: .5em;

    text-align: center;
    line-height: 10em;
    color: #000;
    background-color: #eee;
}

@media only screen and (min-width: 640px) {
    body {
        font-size: 1em;
    }

    div.header {
        grid-template-columns: 40% auto;
        grid-template-areas: "strip content";
    }

    div.header > div.headerStrip {
        padding: 2em 15%;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1280px) {
    body {
        font-size: 1.2em;
    }
    
    /* At desktop sizes we can add margins */
    div.header {
        grid-template-columns: 3em 25em auto;
        grid-template-rows: 100vh;
        grid-template-areas: "lmargin strip content";
    }
    div.header > div.headerStrip {
        padding: 2em 20%;
    }
}

/* Main page content */
h1 {
    font-weight: 400;
    margin-bottom: 0;
}
h1:first-child {
    margin-top: 0;
}

h2 {
    font-weight: 400;
    margin-bottom: .25em;
}
h2:first-child {
    margin-top: 0;
}

a {
    color: #f40;
    text-decoration: none;
}
a:hover,
a:focus {
    color: rgb(255, 134, 91);
    background-color: rgba(255, 255, 255, .1);
}
a:active {
    color: #fff;
    background-color: #222;
}


/* On phone screens, the columns are lost in favour for a single column of content */
div.contentContainer {
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 100%;
}

div.strip {
    height: 100%;
    margin: 0;
    padding: 2em;
    padding-bottom: 0;
    box-sizing: border-box;
    line-height: 1.6em;
}

#about h1 {
    margin: .5em 0;
    font-weight: 400;
    text-align: center;
}
#about h1:first-child {
    font-size: 2.8em;
}
#about h1:nth-child(2) {
    font-size: 1.3em;
}

div.sectionContent {
    width: 100%;
    padding: 0 2em 1em 2em;

    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}

div.sectionContent h2 {
    opacity: 0.5;
}

/* Columns are available at larger screen sizes */
@media only screen and (min-width: 640px) {
    div.contentContainer {
        grid-template-columns: 40% auto;
    }

    div.strip {
        padding: 2em;
        color: #222;
        background: #eee;
    }

    div.sectionContent {
        padding: 2em;
    }
}

/* Margins are available on desktop sizes */
@media only screen and (min-width: 1280px) {
    div.contentContainer {
        grid-template-columns: 28em auto;
    }

    div.strip {
        padding-bottom: 3em;
        margin: 0 0 0 3em;
    }
}

/* Only apply this to the actual link buttons */
div.linkGrid {
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 6em));
    grid-auto-rows: 4em;
    grid-gap: 1em;
}

div.linkGrid .button {
    padding: 0;
    border: 2px solid rgba(255, 255, 255, .3);
    grid-row: span 1;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #fff;
    font-size: 1.1em;
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    text-decoration: none;
    opacity: 1; /* They'll likely be on a phone and so there won't be any hover effects */
}
div.linkGrid .button span {
    display: none; /* Turn them into icon-only tiles */
}

div.linkGrid.large {
    grid-template-columns: 100%;  /* Ensure the grid buttons don't overflow */
    grid-auto-rows: 3em;          /* The larger grids can show text on small screens - however their heights should be reduced to reduce scrolling */
}
div.linkGrid.large .button {
    height: 100%;
    width: 100%;
    padding: .4em 0;
    box-sizing: border-box;

    background-size: 1em;
    background-position: .75em center;
}
div.linkGrid.large .button span {
    display: initial;
}

div.linkGrid .button:hover,
div.linkGrid .button:focus {
    opacity: 1;
}

div.linkGrid a.button:hover,
div.linkGrid a.button:focus {
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .8);
}

div.linkGrid a.button:active {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 1);
}

/* Switch to large buttons with labels */
@media only screen and (min-width: 640px) {
    div.linkGrid {
        grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
        grid-auto-rows: 3em;
    }

    div.linkGrid .button {
        font-size: 1.1em;

        background-color: rgba(255, 255, 255, 0);
        background-size: 1em;
        background-position: .75em center;
    }
    
    div.linkGrid .button span {
        display: initial;
    }

    div.linkGrid.large {
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-auto-rows: 4em;
    }
}

@media only screen and (min-width: 1280px) {
    div.linkGrid {
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
        grid-auto-rows: 3.5em;
    }

    div.linkGrid .button {
        font-size: 1.3em;
        opacity: .8;
    }

    div.linkGrid.large {
        grid-auto-rows: 4.5em;
    }
}

@media only screen and (min-width: 1600px) {
    div.linkGrid {
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-auto-rows: 4em;
    }

    div.linkGrid .button {
        font-size: 1.4em;
    }

    div.linkGrid.large {
        grid-auto-rows: 5em;
    }
}

a.button#ArtStation {
    background-image: url("/svg/icon_artstation.svg");
}
a.button#Twitter {
    background-image: url("/svg/icon_twitter.svg");
}
a.button#Weasyl {
    background-image: url("/svg/icon_weasyl.svg");
}
a.button#FurAffinity {
    background-image: url("/svg/icon_fa.svg");
}
a.button#Mastodon {
    background-image: url("/svg/icon_masto.svg");
}
a.button#Instagram {
    background-image: url("/svg/icon_insta.svg");
}
a.button#Patreon {
    background-image: url("/svg/icon_patreon.svg");
}
a.button#FurryNetwork {
    background-image: url("/svg/icon_furrynetwork.svg");
}
a.button#RedBubble {
    background-image: url("/svg/icon_redbubble.svg");
}
a.button#Refsheet {
    background-image: url("/svg/icon_refsheet.svg");
}
a.button#Tumblr {
    background-image: url("/svg/icon_tumblr.svg");
}
a.button#Telegram {
    background-image: url("/svg/icon_telegram.svg");
}
a.button#Email {
    background-image: url("/svg/icon_email.svg");
}
a.button#Kofi {
    background-image: url("/svg/icon_kofi.svg");
}
div.button#Discord {
    background-image: url("/svg/icon_discord.svg")
}
div.button#Discord span:first-child {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
div.button#Discord span:nth-child(2) {
    -webkit-user-select: all;
    -ms-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

div.strip.footer {
    display: none;
    height: 15em;
    background: linear-gradient(-15deg, rgba(238,238,238,0) 60%, rgba(238,238,238,1) 60%);
}
div.sectionContent.footer {
    justify-content: end;
    text-align: right;
}
div.sectionContent.footer p {
    margin: 0;
}

@media only screen and (min-width: 640px) {
    div.strip.footer {
        display: initial;
    }
}

/* Images - previously part of images.css */

.background {
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-position: 40% center; /* The background image needs to be offset to the right due to the 1:1 layout */
    background-position: 40% center;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
}

@media only screen and (min-width: 1280px) {
    .background {
        -webkit-background-position: center center; /* The background image can be centred */
        background-position: center center; 
    }
}

/* Knowing (skyline) - the default image */
/* This will load before the script.js */
#knowing {
    background-image: url("img/knowing_smb.png");
}
.background.knowing {
    background-image: url("img/knowing_smb.png");
}
.background.sharpbackground.knowing {
    background-image: url("img/knowing_sm.jpg");
}

@media only screen and (min-width: 768px) {
    .background.knowing { background-image: url("img/knowing_b.png")}
    .background.sharpbackground.knowing { background-image: url("img/knowing.jpg"); }
}

@media only screen and (min-width: 1280px) {
    .background.sharpbackground.knowing { background-image: url("img/knowing.jpg"); }
}

.background.armour {
    -webkit-background-position: center top;
    background-position: center top;
}

.background.westminster,
.background.kadote {
    -webkit-background-position: 75% center;
    background-position: 75% center;
}

.background.aruarian {
    -webkit-background-position: 30% center;
    background-position: 30% center;
}

.background.anubis {
    -webkit-background-position: 80% 25%;
    background-position: 80% 25%;
}

.background.kathid {
    -webkit-background-position: 90% 35%;
    background-position: 90% 35%;
}
