<!-- default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kavaeric &#8227; {{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/default.css">
</head>
<body>
    <div class="grid-container">

        <h1><a href="../">&#9668;</a>{{ page.title }}</h1>
        <div class="content">
            {{ content }}
        </div>

    </div>
</body>
</html>
